* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./assets/Fonts/SFProDisplay/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #F5F5F7;
}
